USE [master]
GO
/****** Object:  Database [GCT Connect]    Script Date: 8/14/2025 6:56:27 PM ******/
CREATE DATABASE [GCT Connect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GCT Connect', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\GCT Connect.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GCT Connect_log', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\GCT Connect_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GCT Connect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GCT Connect]
GO
/****** Object:  Table [dbo].[Announcement_Recipients]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement_Recipients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[announcement_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_read] [bit] NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[department_id] [int] NULL,
	[created_at] [datetime] NULL,
	[Priority] [int] NULL,
	[Audience] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[batch_year] [int] NOT NULL,
	[students_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chatbot_Queries]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chatbot_Queries](
	[query_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[query_text] [nvarchar](max) NULL,
	[response] [nvarchar](max) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[query_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseId] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NOT NULL,
	[courseName] [nvarchar](255) NOT NULL,
	[courseCode] [nvarchar](50) NOT NULL,
	[fileId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[hod_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](100) NULL,
	[UploaderId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[UploadedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[FriendRequestId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FriendRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Members]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Members](
	[group_member_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NULL,
	[user_id] [int] NULL,
	[role] [nvarchar](50) NOT NULL,
	[joined_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[group_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_by] [int] NOT NULL,
	[department_id] [int] NULL,
	[created_at] [datetime] NULL,
	[course_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NULL,
	[content] [nvarchar](max) NOT NULL,
	[timestamp] [datetime] NULL,
	[FileUrl] [nvarchar](max) NULL,
	[FileType] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Batches]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Batches](
	[user_id] [int] NOT NULL,
	[batch_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Profiles]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Profiles](
	[user_id] [int] NOT NULL,
	[bio] [nvarchar](max) NULL,
	[social_links] [nvarchar](max) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/14/2025 6:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[department_id] [int] NULL,
	[batch_id] [int] NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[roll_number] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[subject] [varchar](50) NULL,
	[profile_pic] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Student_RollNumber]    Script Date: 8/14/2025 6:56:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Student_RollNumber] ON [dbo].[Users]
(
	[roll_number] ASC
)
WHERE ([role]='Students')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcement_Recipients] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Announcement_Recipients] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT ((0)) FOR [students_count]
GO
ALTER TABLE [dbo].[Chatbot_Queries] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Friends] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Group_Members] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[User_Profiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Announcement_Recipients]  WITH CHECK ADD  CONSTRAINT [FK_Announcement] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[Announcements] ([announcement_id])
GO
ALTER TABLE [dbo].[Announcement_Recipients] CHECK CONSTRAINT [FK_Announcement]
GO
ALTER TABLE [dbo].[Announcement_Recipients]  WITH CHECK ADD  CONSTRAINT [FK_AnnouncementUser] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Announcement_Recipients] CHECK CONSTRAINT [FK_AnnouncementUser]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_AnnouncementDepartment] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_AnnouncementDepartment]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_Department]
GO
ALTER TABLE [dbo].[Chatbot_Queries]  WITH CHECK ADD  CONSTRAINT [FK_QueryUser] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Chatbot_Queries] CHECK CONSTRAINT [FK_QueryUser]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_CourseDepartment] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_CourseDepartment]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_HOD] FOREIGN KEY([hod_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_HOD]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([courseId])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_Course]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_User] FOREIGN KEY([UploaderId])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_User]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_Receiver] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_Receiver]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_Sender]
GO
ALTER TABLE [dbo].[Group_Members]  WITH CHECK ADD  CONSTRAINT [FK_Group] FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([group_id])
GO
ALTER TABLE [dbo].[Group_Members] CHECK CONSTRAINT [FK_Group]
GO
ALTER TABLE [dbo].[Group_Members]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Group_Members] CHECK CONSTRAINT [FK_UserGroup]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_CreatedBy]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentGroup] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_DepartmentGroup]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_MessageGroup] FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([group_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_MessageGroup]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_MessageSender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_MessageSender]
GO
ALTER TABLE [dbo].[User_Batches]  WITH CHECK ADD  CONSTRAINT [FK_Batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[User_Batches] CHECK CONSTRAINT [FK_Batch]
GO
ALTER TABLE [dbo].[User_Batches]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[User_Batches] CHECK CONSTRAINT [FK_User]
GO
ALTER TABLE [dbo].[User_Profiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[User_Profiles] CHECK CONSTRAINT [FK_UserProfile]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Accepted' OR [Status]='Waiting'))
GO
ALTER TABLE [dbo].[Group_Members]  WITH CHECK ADD  CONSTRAINT [CHK_GroupRole] CHECK  (([role]='group_member' OR [role]='group_admin'))
GO
ALTER TABLE [dbo].[Group_Members] CHECK CONSTRAINT [CHK_GroupRole]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [CK_Message_GroupOrReceiver] CHECK  (([Group_ID]=(0) AND [Receiver_ID]<>(0) OR [Group_ID]<>(0) AND [Receiver_ID]=(0)))
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [CK_Message_GroupOrReceiver]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Admin_Principal_Fields] CHECK  ((([role]='Principal' OR [role]='Admin') AND [batch_id] IS NULL AND [department_id] IS NULL AND [roll_number] IS NULL OR NOT ([role]='Principal' OR [role]='Admin')))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Admin_Principal_Fields]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Hod_Teachers_Fields] CHECK  ((([role]='Teachers' OR [role]='Hod') AND [department_id] IS NOT NULL AND [batch_id] IS NULL AND [roll_number] IS NULL OR NOT ([role]='Teachers' OR [role]='Hod')))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Hod_Teachers_Fields]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Role] CHECK  (([role]='Students' OR [role]='Teachers' OR [role]='Hod' OR [role]='Principal' OR [role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_RollNumber_Format] CHECK  (([roll_number] like '[0-9][0-9]-[0-9][0-9][0-9][0-9]' OR [roll_number] IS NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_RollNumber_Format]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Student_Fields] CHECK  (([role]='Students' AND [batch_id] IS NOT NULL AND [department_id] IS NOT NULL AND [roll_number] IS NOT NULL OR [role]<>'Students'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Student_Fields]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
USE [master]
GO
